<manifest android:sharedUserId="android.uid.system" android:process="system" android:versionCode="15" package="com.android.systemui" android:versionName="4.0.4-I747UCALEM" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android"




>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_USB" />

    <application android:persistent="true" android:allowClearUserData="false" android:allowBackup="false" android:hardwareAccelerated="true" android:label="@string/app_label" android:icon="@drawable/ic_launcher_settings"










>
        <service android:name="SystemUIService" android:exported="true"

 />



        <service android:name=".screenshot.TakeScreenshotService" android:process=":screenshot" android:exported="false"

 />

        <service android:name=".LoadAverageService" android:exported="true"
 />

        <service android:name=".ImageWallpaper" android:exported="true" android:permission="android.permission.BIND_WALLPAPER"

 />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".usb.UsbStorageActivity" android:label="@android:string/usb_storage_activity_title" android:excludeFromRecents="true"


 />
        <activity android:name="com.android.internal.app.ExternalMediaFormatActivity" android:excludeFromRecents="true" android:theme="@android:style/Theme.Dialog.Alert"


 />

        <activity android:name="com.android.internal.app.UsbStorageUnmountActivity" android:excludeFromRecents="true" android:theme="@android:style/Theme.NoDisplay"


 />


        <activity android:permission="android.permission.MANAGE_USB" android:name=".usb.UsbConfirmActivity" android:exported="true" android:excludeFromRecents="true" android:theme="@android:style/Theme.Holo.Dialog.Alert" android:finishOnCloseSystemDialogs="true"





 />


        <activity android:permission="android.permission.MANAGE_USB" android:name=".usb.UsbPermissionActivity" android:exported="true" android:excludeFromRecents="true" android:theme="@android:style/Theme.Holo.Dialog.Alert" android:finishOnCloseSystemDialogs="true"





 />


        <activity android:permission="android.permission.MANAGE_USB" android:name=".usb.UsbResolverActivity" android:exported="true" android:excludeFromRecents="true" android:theme="@android:style/Theme.Holo.Dialog.Alert" android:finishOnCloseSystemDialogs="true"





 />


        <activity android:permission="android.permission.MANAGE_USB" android:name=".usb.UsbAccessoryUriActivity" android:exported="true" android:excludeFromRecents="true" android:theme="@android:style/Theme.Holo.Dialog.Alert" android:finishOnCloseSystemDialogs="true"





 />


        <activity android:name=".net.NetworkOverLimitActivity" android:exported="true" android:permission="android.permission.MANAGE_NETWORK_POLICY" android:excludeFromRecents="true" android:theme="@android:style/Theme.Holo.Panel" android:finishOnCloseSystemDialogs="true" android:launchMode="singleTop" android:taskAffinity="com.android.systemui.net"







 />


        <activity android:name=".Nyandroid" android:hardwareAccelerated="true" android:label="Nyandroid" android:icon="@drawable/nyandroid04" android:exported="true" android:excludeFromRecents="true" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:launchMode="singleInstance"







>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <uses-library android:name="com.sec.android.app.minimode" />
    </application>
</manifest>
